table, th, td {
    text-align: left;
    border: 1px solid burlywood;
    border-collapse: collapse;   
}

.newtr{animation:opac 1.5s}
@keyframes opac{from{opacity:0} to{opacity:1}}


.divwrapper {
  overflow: hidden;
  overflow-y: scroll;
  height: 325px;  /*change this to desired height */
  margin-right: 0%;
}

th{
  color: white; 
  background-color: brown
}


th, td {
padding: 2px;
}

header,footer{
    color: black;
    background-color: beige;
    text-align:center;
    font-family: 'Times New Roman', Times, serif ;
    font-style: italic;
}

.skillcheck{
    display:flex;
}

  .center {
    margin-left:auto;
    margin-right:auto;
  }

  .vl {
    border-right: 2px dashed darkslategray;
    height: 410px;
    
    margin-left: -250px;
    left: 50%;

    position:absolute;
    top:13%;

    overflow-x: hidden;
  }

  footer {
    position:fixed;
    bottom: 0;
    width: 100%; 
  }

  .fade {

    opacity: 0.0;
    animation: fadeIn ease 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}